.form-group>* {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(100, 236, 213, 0.719);
}

form {
    padding-left: 30%;
    background-color: rgba(100, 236, 213, 0.719);
}

button {
    color: rgb(255, 0, 0);
    background: #000;
}