{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=1111111, initial-scale=1.0">
    <title>{% block title %}Форум программистов{% endblock %}</title>
</head>
<body>
    <header>
           <h1>Форум</h1>
            
    <div class="form-group">
        {% if user.is_authenticated %}
            <h2>Добро пожаловать, {{ user.username }}</h2>
            {% else %}
        <form action="" method="post">
            {% csrf_token %}
            Логин: {{ form.username }}
            Пароль: {{ form.password }}
            <button type="submit">Войти</button>
            <a href="{% url 'register' %}">Зарегистрироваться</a>
        </form>
    </div>
    {% endif %}
    </header>

    

    {% block content %}
    {% endblock %}

    <footer>
        Подвал
    </footer>
</body>
</html>